.detail-container {
    background-color: #eee;
    overflow: scroll;
}

.detail-container h2 {
    background: none;
    text-align: center;
    margin: 2rem 0;
}

.detail-container img {
    width: 50%;
    min-width: 300px;
    display: block;
    margin: auto;
}